# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
translations.db

# C extensions
*.so

# Virtual environment
venv/
.env/
.envrc
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Others
.env
